.chat-side
  .side-header
    .side-box
      %p.user-name TECH CAMP
      %ul.menu
        %li.new-group
        = link_to "#" do
          = icon('fas', 'edit',class: "icon")
        %li.edit-user
        = link_to "#" do
          = icon('fas', 'cog',class: "icon")
  .groups
    = link_to "#" do
      .group  
        %p.group-name 匡史 落ちろよおおおおおおおおお
        %p.latest-message もらったあああああああああああああ
    
 
